@import 'nib'
.footer
    width 50%
    height 20px
    font-size 10pt
    display inline-block
    bottom 30px    
    padding-top 3px

/*
.footer
    width 640px
    height 20px
    background-color #9898a8
    opacity 0.8
    font-family 'Fjord One', serif
    font-size 10pt
    border-top-left-radius 15px
    border-top-right-radius 15px
    displayinline-block
    bottom 0px    
    padding-top 3px
    padding-left 10px*/    

.footer a
  margin-right 5px
  color #c8c8d8
  text-decoration none

.footer a:visited
    color #c8c8d8
.footer a:hover
    color #faaa96
.footer a:last-child
    margin-right 0

.footer span
      color #8888a8
      text-decoration none
      padding-left 0px
      margin-left 0px
      padding-right 5px
