@import 'nib'

.mainContent
  width: 100%
  position: absolute
  font-family 'Fjord One', serif

#titleSloganBox
  color: #c8c8e8
  text-shadow: 2px 1px #000000
  text-align: right
  padding: 15px
  right: 2%
  bottom: 20%
  width: 250px
  position fixed
  opacity: 0.8
  
	
#titleSloganBox h1
  margin-bottom: 0px
  margin-top: 0px

#titleSloganBox h3
	margin-top: 0px





	

