<div id="logo-content">
  <a href="">
    <img id="img-logo" src="pictures/logo/goodjoc-logo.png" height="20px" width="20px" />
  </a>  
</div>
<div id="header-links">
  <a class="header-link" href="#projects">Proyectos</a>
  <a class="header-link" href="http://goodjoc.blogspot.com.es/">Blog</a>
  <a class="header-link" href="#about">Sobre nosotros</a>
</div>
